{% extends 'base.html.twig' %}



{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h3>Liste de tous les équipements</h3>
            </div>
        </div>
    </div>
{% endblock %}
